{% load static %}
  <!doctype html>
  <html lang="es">
   <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "core/css/style.css" %}">
    {% block titulo %} {% endblock %}
  </head>
  
  <body>
    <div id="chat-log"></div>
    <nav class="navbar navbar-dark navbar-expand-lg sticky-top bg-dark"> <!-- barra de navegación Superior  -->
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static "core/img/logowcbw.png" %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:home'%}"><i class="fas fa-home"></i>Home</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'core:mis_referidos' %}"><i class="fas fa-people-carry"></i>Referidos</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'core:mis_clones' %}"><i class="fas fa-users"></i>Clones</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'core:mis_niveles' %}"><i class="fas fa-sort-amount-up"></i>Niveles</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'core:mis_finanzas' %}"><i class="fas fa-coins"></i>Finanzas</a>
            </li>
            <!--<li>
              <a class="nav-link" href="{% url 'core:mi_tienda' %}"><i class="fas fa-store"></i>Tienda</a>
            </li>
            <li>-->
              {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'registration:logged_out' %}"><i class="fas fa-sign-out-alt"></i> Salir</a>
              {% endif %}        
            </li>                   
          </ul>
        </div> <!-- Fin Submenu-->
      </div>
    </nav> <!-- Fin Menu-->
  
  </div>
    <h4> Bienvenido {{ request.user }}</h4>
    <div class="container-fluid"> <!--Enlace de referido -->
      <div class="row">
        <div class="col-md-12">Este es tu enlace de referido:
          <div class="input-group share">
            <input id="txtEnlaceReferido" class="form-control" value="{{base_url}}{% url 'registration:registro_referido' request.user %}" name=""  readonly> 
            <span class= input-group-btn> 
              <button id="btnCopiar" class="btn btn-warning">Copiar</button>
              <button id = "btnWhatsapp"><img height="30px" src="{% static "core/img/wa.png" %}" alt="Compartir en whatsapp"></button>              
            </span>
          </div>
        </div>  
      </div>
    </div>
    
    <div class="container-fluid"> <!-- contenido cuerpo --> 
      <div class="row">
        <div class="col-md-10 col-12"> 
          {% block contenido %} {% endblock %}
        </div>
                
        <div class="col-md-2 col-12"> <!--Cuadro de Cobradores -->          
          <div class="card w-100">
            <div class="card-body">
              <h6>Ultimos cobradores</h6>
              <div id = "cobrando_container">Cobrando... </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            
    <div class="container-fluid">
      <div class="row">  <!-- Pie de pagina-->
        <div class="col">
          <div class="card w-100">
            <div class = "text-center">© 2020 WORLDCYCLE</p>                  
            </div>
          </div>
        </div>  
      </div>
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static "core/js/reloj.js" %}"></script>
    <script src="{% static "core/js/home.js" %}"></script>
    <script type=text/javascript>
      window.onload = function preInit(){
        //ajax urls
        url_lista_content = "{% url 'core:lista_content' %}";
        url_listas = "{% url 'core:listas' %}";
        url_listas_referido = "{% url 'core:listasReferido' %}";
        url_lista_referidos = "{% url 'core:listaReferidos' %}";
        url_lista_clones = "{% url 'core:clones' %}";
        url_activar_clon = "{% url 'core:activar_clon' %}";
        url_lista_cobrando = "{% url 'core:cobrando' %}";
        url_cargar_saldo = "{% url 'core:cargar_saldo' %}";
        url_ver_movimientos = "{% url 'core:jugador_ver_movimientos' %}";
        url_lista_inactivos = "{% url 'core:referidos_inactivos' %}";
        //url_cargar_saldo = "{% url 'core:consulta_saldos_usuario' %}";
        url_base = "{{base_url}}"
        
        init();
      }  
    </script>
  </body>
</html>