{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}  
  {% if not tiene_niveles_activos %}
    <div class='alert alert-danger' role='alert'>No estas jugando en ningun nivel, entra en el menu de <a href ="{%url 'core:mis_niveles'%}"> <i class="fas fa-sort-amount-up"></i>Niveles</a> para empezar...</div>
  {% endif %}  

  {% if tiene_bloqueo_nivel %}
    <div class='alert alert-danger' role='alert'>Apareces de color naranja porque alcanzaste el número máximo de cobros, debes activar el siguiente nivel para continuar en verde y cobrar.<a href ="{%url 'core:mis_niveles'%}"> <i class="fas fa-sort-amount-up"></i>Niveles</a></div>
  {% endif %}  

  {% if tiene_bloqueo_clon %}
    <div class='alert alert-danger' role='alert'>Apareces de color Azul, hemos generado un clon especial para ti, debes activarlo para poder continuar en verde y cobrar.<a href ="{%url 'core:mis_clones'%}"> <i class="fas fa-users"></i>Mis Clones</a></div>
  {% endif %}  

    



  <div class="container-fluid ">
    <div class="row">
      
      <div class="col-md-6"> <!-- Columna de listas -->
        <div class="card w-100 mt-3">
          <h6 class="card-header"><i class="fas fa-list-alt"></i> Mis Listas</h6>



          <div class="card-body scroll-list" style="height: 18rem;">
            <div class="card-text">
              <div class="card-text card-body p-0 mb-2">
                <small> Despliega cada nivel para ver las listas.</small>
              </div>
              
              <div class="container-fluid card card-body filter-box">
                <div class = "row">
            
                  <div class="col-6 col-lg-6">
                    <div class="dropdown">
                      <div>Estado:</div>
                      <form>
                        <div class="form-row align-items-center">
                          <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                          <select class=" custom-select mr-sm-2" id="inlineFormCustomSelect" onchange="cambiarEstado()">
                            <option value="Todos" selected>Todos</option>
                            <option value="A">Abiertas</option>
                            <option value="C">Cerradas</option>
                            <option value="B">Bloqueadas</option>
                          </select>
                        </div>
                      </form>
                      
                      
                    </div>
                  </div>
                  
                  <div class="col-6 col-lg-6">
                    <div>Nivel:</div>
                    <form>
                      <div class="form-row align-items-center">
                        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect2">Preference</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect2" onchange="cambiarNivel()">
                          <option value = "Todos" selected>Todos</option>
                          <option value="1">Nivel 1</option>
                          <option value="2">Nivel 2</option>
                          <option value="3">Nivel 3</option>
                          <option value="4">Nivel 4</option>
                          <option value="5">Nivel 5</option>
                          <option value="6">Nivel 6</option>
                          <option value="7">Nivel 7</option>
                          <option value="8">Nivel 8</option>
                          <option value="9">Nivel 9</option>
                          <option value="10">Nivel 10</option>
                          <option value="11">Nivel 11</option>
                          <option value="12">Nivel 12</option>
                          <option value="13">Nivel 13</option>
                          <option value="14">Nivel 14</option>
                          <option value="15">Nivel 15</option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>  
              </div>  

              <div id ="listasContainer"></div>
            </div>
          </div>
        </div>
      </div> <!-- Fin columna de listas -->

      <div class="col-md-6"> <!-- Columna de jugadores -->
        <div class="card w-100 mt-3">
          <h6 class="card-header">
            <i class="fas fa-user-friends"></i>Jugadores en la lista
          </h6>


        
          <div class="card-body scroll-list" style="height: 18rem;">
            <div class="card-text">
              <div class="card-text card-body p-0 mt-0">
                <small> Seleccione una lista para ver sus jugadores. </small>
                <p id="encabezado_lista"> </p>
              </div>
              <div id="lista_content">
                <div class="container">
                  
                  <div class="row">
                    <div class="col-1">
                      <h4>1</h4>
                    </div>
                    <div class="col-10 ">
                      <h4>
                        <div id="j0"></div>
                      </h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-1">
                      <h6>2</h6>
                    </div>
                    <div class="col-10">
                      <h6>
                        <div id="j1"></div>
                      </h6>  
                    </div>
                    
                  </div>
  
                  <div class="row">
                    <div class="col-1">
                      <h6>3</h6>
                    </div>
                    <div class="col-10">
                      <h6>
                        <div id="j2"></div>
                      </h6>  
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-1">
                      <h6>4</h6>
                    </div>
                    <div class="col-10">
                      <h6>
                        <div id="j3"></div>
                      </h6>  
                    </div>
                    
                  </div>
                  
                  <div class="row">
                    <div class="col-1">
                      <h6>5</h6>
                    </div>
                    <div class="col-10">
                      <h6>
                        <div id="j4"></div>
                      </h6>  
                    </div>
                  </div>
  
                </div>  
              </div>
            </div>
          </div>
        
        </div>
      </div>

        
        
      </div>

    
  </div> <!-- fin modulo mis listas-->    
{% endblock %}  
