{% extends 'core/base.html' %}
{% load static %}


{% block contenido %}

  
  <h2>MIS NIVELES</h2>
  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Monto</th>
          <th scope="col">Estado</th>
          <th scope="col">Activar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>50000</td>
          <td>Activo</td>
          <td><button class="btn btn-success" disabled>Activar</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>100000</td>
          <td>Activo</td>
          <td><button class="btn btn-success" disabled>Activar</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>200000</td>
          <td>Activación disponible</td>
          <td><button class="btn btn-success">Activar</button></td>
        </tr>
      </tbody>
    </table>

  </div>

  
{% endblock %}  