{% extends 'core/base.html' %}
{% load static %}


{% block contenido %}
  
  <h2>Mis Finanzas</h2>
  <h4>Operaciones</h4>
  <div class="container-fluid">
    <div class="row">
      <div class = "col-md-4 text-center p-5">
        <img class = "img-fluid" src="{% static "core/img/cash-payment.png" %}" alt="">
        <button type="button" class=" btn-lg btn btn-primary mt-5">Cargar</button>
      </div>
      <div class = "col-md-4 text-center p-5">
        <img class = "img-fluid"  src="{% static "core/img/mobile-transfer.png" %}" alt="">
        <button type="button" class="btn btn-lg btn-primary mt-5">Transferir</button>
      </div>
      <div class = "col-md-4 text-center p-5">
        <img class = "img-fluid"  src="{% static "core/img/cajero-automatico.png" %}" alt="">
        <button type="button" class="btn btn-lg btn-primary mt-5">Retiros</button>
      </div>   
    </div>
  </div>
  
  <h4>Saldos</h4>
  <div class="container-fluid" >
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Saldo acumulado</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Saldo de Activación</td>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Ganancias totales</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>

  </div>

   
{% endblock %}  

