{% extends 'core/base.html' %}
{% load static %}


{% block contenido %}

  
  <h2>Mis Niveles</h2>
  <div class = "listaNiveles">
  {% for nivel in niveles_jugador %}

      
  {% endfor %}
  </div>

  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nivel</th>
          <th scope="col">Monto</th>
          <th scope="col">Estado</th>
          <th scope="col">Activar</th>
        </tr>
      </thead>
      <tbody>
        {% for nivel in niveles_jugador %}
          <tr>
          <td>{{nivel.nivel}}</td>
          <td>{{nivel.nivel.monto}}</td>
          <td>{{nivel.estado}}</td>
          <td><button class="btn btn-success" disabled>Activar</button></td>
          </tr>

          {% endfor %}
          
      </tbody>
    </table>

  </div>

{% endblock %}  |