{% extends 'core/base_general.html' %}
{% load static %}
{% block contenido %}
<style type="text/css">
  label{
    display:none
  }
</style>
<div class="container pt-4" >
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 p-4">
      <img class= "index-logo p-3 img-fluid"  src="{% static "core/img/logowc.png" %}" alt="">
      
      {% if request.POST.patrocinador%}
        <h3>Registro patrocinado por <span style="color: red;">{{request.POST.patrocinador}}</span> </h3>
      {% else %}    
        <h3>Registro sin patrocinador</h3>
        <h6>Entrarás al sistema como un usuario independiente, si eres referido de otro usuario por favor solicítale su enlace de referido para entra en su red.</h6>
      {% endif %}
       
      <div id="mensajes"></div>
      <form action="" method="post">{% csrf_token %}  
        {{ form.as_p }}
        <input type="hidden", value="1">
        <button class="btn btn-success" type="submit" >Registrarse</button>
      </form>
    </div>
      <div class="col-md-2">
      </div>
  </div>
</div>
<script lang="text/javascript">
   url_consulta_usuario = "{% url 'core:consulta_usuario' %}";
</script>
{% endblock %}
