{% extends 'core/base_general.html' %}
{% load static %}
{% block contenido %}
  <div class="container-fluid index-background" >
    <div class="row">
      <div class="col-md-5 p-0">
        <div class="card index-card mb-0">
          <img class= "index-logo mx-auto pt-2 img-fluid"  src="{% static "core/img/logowc.png" %}" alt="">
          <div class="card-body">
            <br>
            {% if referido_valid %}
            <h6>Has accedido con el enlace de referido del usuario:  <strong style="font-size: 28 px; color:rgb(0, 114, 55)"> {{ patrocinador }}</strong>
                  entrarás como parte de su lista, en la primera posición libre disponible.</h6>
            {% else %}
              <h6>Este Usuario <strong> NO EXISTE </strong> por favor verifique su enlace de referido, o <strong> CONTINUARÁ CON EL REGISTRO SIN PATROCINADOR"</strong></h6>
            {% endif %}
            
            <form action="{% url 'registration:registro' %}" method="POST"> {% csrf_token %}
              <input type="hidden" name='patrocinador' value="{{patrocinador}}">
              {% if referido_valid %}
                <input class="btn btn-success" type="submit" value='Continuar con el Registro'>
              {% else %}
                <input class="btn btn-success" type="submit" value='Continuar sin patrocinador'>
              {% endif %}
            </form>
          </div>
        </div>
      </div>  
    </div>      
  </div>
{% endblock %}
